* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'poppins', sans-serif;

}

body {
    background: rgb(50, 50, 50);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}