#about {
    position: relative;
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #df4904;
    color: rgb(255, 255, 255);
    height: 100vh;
}

.aboutTitle {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: rgb(255, 255, 255);
}

.aboutDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 80%; /* Allows description to expand more */
    padding: 0 2rem;
    margin: 0 auto;
    text-align: left; /* Align text to the left for better readability */
    line-height: 1.6; /* Improve line spacing */
}

.aboutDescription {
    display: flex;
    flex-direction: column; /* Ensure the text and the image stack vertically */
    margin: 2rem 0; /* Adjust margins for spacing */
    padding: 1rem;
    color: rgb(255, 255, 255);
}

.aboutText {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0; /* Add space between paragraphs */
}

@media (max-width: 768px) {
    .aboutTitle {
        font-size: 2rem; /* Smaller font size for smaller screens */
    }

    .aboutDesc {
        font-size: 0.9rem; /* Adjust font size */
        max-width: 90%; /* Allow description to take up more space on small screens */
        padding: 0 1rem; /* Adjust padding on smaller screens */
    }

    .aboutText {
        font-size: 1rem; /* Adjust font size */
    }
}

@media (max-width: 480px) {
    .aboutTitle {
        font-size: 1.8rem; /* Even smaller for mobile devices */
    }

    .aboutDesc {
        font-size: 0.85rem;
        max-width: 95%;
        padding: 0 1rem;
    }

    .aboutText {
        font-size: 1rem;
    }
}

.connect-btn-container {
    margin-top: 2rem;
}

.connect-btn {
    background-color: #ff9900;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.connect-btn:hover {
    background-color: #cc7a00;
}