#intro {
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
  }
  .quote-icon {
    font-size: 2rem; /* Adjust size as needed */
    color: #ffffff; /* Use a color that matches your design */
    margin: 0 0.5rem; /* Adjust spacing from text */
    vertical-align: text-top; /* Align with the text */
  }
  
  .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .introImg {
    position: absolute;
    top: 0;
    opacity: 0.5;
    width: 100%; /* Ensure image covers the container */
    height: 100%; /* Ensure image covers the container */
    object-fit: cover; /* Ensure image scales correctly */
    filter: blur(4px); /* Apply blur to the image */
    transition: left 1s ease-in-out, opacity 2s ease-in-out;
  }
  
  .introImg.slide-in {
    left: 0;
    opacity: 1; /* Make the image fully visible */
  }
  
  .introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
  
  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center; /* Centers the text horizontally */
    white-space: nowrap; /* Prevents text from wrapping to a new line */
    display: flex;
    justify-content: center; /* Ensures text is centered horizontally */
    align-items: center; /* Centers text vertically */
  }

  .bg >h1{
    margin-top: 1rem;
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30rem;
    font-size: 4rem;
    font-weight: 600;
    text-align: left; /* Centers the text horizontally */
    white-space: nowrap; /* Prevents text from wrapping to a new line */
    
    justify-content: center; /* Ensures text is centered horizontally */
    
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    font-style: italic;
  }

  .bg >h2{
    margin-bottom: 10rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 30rem;
    font-size: 3rem;
    font-weight: 500;
    text-align: center; /* Centers the text horizontally */
    display: flex;
    justify-content: center; /* Ensures text is centered horizontally */
    align-items: center; /* Centers text vertically */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    
  }

  .highlight {
    color: rgb(243, 120, 5); /* Ensures the text is visible on the black background */
    padding: 0 1rem; 
  
  }

  .highlight2 {
    color: rgb(243, 120, 5);
    padding: 0 3rem 0 0.2rem; /* Optional: adds some spacing around the highlighted words */
  }
  
  
  .introBtn {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 10rem;
    background: rgb(243, 120, 5);
    margin: 1rem 0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    animation: glow 1s infinite alternate;
    border: none;
    cursor: pointer;
  }
  
  @keyframes glow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 115, 0, 0.8), 0 0 30px rgba(255, 102, 0, 0.8);
    }
  }
  
  .gifHand {
    position: absolute;
    top: 18.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 5rem;
    opacity: 0.7;
  }
  
  .introBtn:hover {
    background: rgb(255, 102, 0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 102, 0, 0.8), 0 0 30px rgba(255, 102, 0, 0.8);
    animation: none;
  }
  
  .introBtn:hover + .gifHand {
    display: none;
  }
  
  @media screen and (max-width: 937px) {
    #intro {
      height: calc(100vh - 30rem);
      width: 100vw;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
    }
  
    .bg {
      top: 4rem;
      width: 15rem;
    }
  
    .introBtn {
      top: 10rem;
      background: gold;
      animation: glow 1s infinite alternate;
    }
  
    .gifHand {
      top: 13.5rem;
    }
  }
  