#feedbacks{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 5rem;
    height: 70rem;
    background: #ebebeb;
    color: black;
}

.feedback-container{
    display: flex;
    position: relative;
    top: 2rem;
    gap: 1rem;
    line-height: 2;
}


.feedback-sub{
    font-size: 3rem;
    font-weight: 600;
    color: black;
}


.feedback {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    text-align: center;
  }
  
  .feedback.active {
    opacity: 1;
    border: none
  }
  
  .feedback.hidden {
    opacity: 0;
  }



.project-container{
    display: flex;
    justify-content: center;
    padding: 5rem;
    margin-top: 10rem;
    gap: 10rem;
}

.founded h1 , .clients h1, .projects h1{
    font-weight: 400;
}

.founded p , .clients p, .projects p{
    font-weight: 600;
    font-size: 3rem;
}

.light-up{
 
    padding: 3rem;
    color: #212529;
    width: 100%;
    border-radius: 10px;
}

.light-up h1{
    font-size: 3.5rem;
}

.light-up p{
    margin-top: 1rem;
    line-height: 2;
    font-size: 1.2rem;
}

.light-up button{
    margin-top: 4rem;
    background: #000000;
    border: none;
    padding: 20px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.light-up button:hover{
    transform: scale(1.2);
    background: #4a4a4b;
}

.loading-bar-container {
    width: 10%;
    height: 4px;
    background: #ddd;
    position: relative;
    overflow: hidden;
    margin: 10px auto; 
    
    justify-content: center;
    align-items: center;
  }
  
  .loading-bar {
    height: 100%;
    width: 0%;
    background: #000000;
    transition: width 0.5s linear;
  }
  @media (max-width: 768px) {

    #feedbacks{
        height: 100%;
    }
   .feedback-sub{
        width: 100vw;
        font-size: 2rem;
        line-height: 2rem;
        position: relative;
        right: 5.5rem;
       
    }

    .project-container{
        display: block;
        width: 100%;
        top: 4rem;
        position: relative;
        
        justify-items: center;
    }

    .project-container h1{
        font-size: 1rem;
    }
    .project-container p{
        font-size: 2rem;
        width: 100%;
    }
    .light-up{
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: left;
        position: relative;
        right: 5rem;
    }

    .light-up h1{
        font-size: 2rem;
        width: 100vw;
        position: relative;
        right: 1rem;
    }
    .light-up p{
        width: 100%;
        font-size: 1rem;
    }
    
    }
    
  
  @media  (max-width: 480px) {
    #feedbacks{
        height: 100%;
    }
   .feedback-sub{
        width: 100vw;
        font-size: 2rem;
        line-height: 2rem;
        position: relative;
        right: 5.5rem;
       
    }

    .project-container{
        display: block;
        width: 100%;
        top: 4rem;
        position: relative;
        
        justify-items: center;
    }

    .project-container h1{
        font-size: 1rem;
    }
    .project-container p{
        font-size: 2rem;
        width: 100%;
    }
    .light-up{
        width: 100vw;
        justify-content: center;
        align-items: center;
        text-align: left;
        position: relative;
        right: 5rem;
    }

    .light-up h1{
        font-size: 2rem;
        width: 100vw;
        position: relative;
        right: 1rem;
    }
    .light-up p{
        width: 100%;
        font-size: 1rem;
    }
    
  }
  
  
  @media  (min-width: 320px) {
    #feedbacks{
        height: 100%;
    }
    
    #feedbacks h2{
        font-size: 2rem;
        font-weight: 400;
    }

    .project-container{
        display: block;
        width: 100%;
        top: 7rem;
        position: relative;
        
        justify-items: center;
    }

    .project-container h1{
        font-size: 1rem;
    }
    .project-container p{
        font-size: 2rem;
        width: 100%;
    }

    .light{
        position: relative;
        top: 2rem;
        text-align: left;
    }

    .light h1{
        font-size: 2rem;
    }

    .light button{
        margin-top: 4rem;
        background: #000000;
        border: none;
        padding: 20px;
        border-radius: 5px;
        color: white;
        font-weight: 400;
        transform: scale(1);
        transition: transform 0.3s ease;
    }
    
    .light button:hover{
        transform: scale(1.2);
        background: #4a4a4b;
    }
    
    
    
  }