#residential{
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background: #1A1C20;
  
}



.weBuildTitle {
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-top: -3rem;
}

.weBuildDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;
    
}


.residentials {
    font-size: 1rem;
    padding-top: 2rem;
    max-width: 50rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  
}

.residentials>h2{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 0;
    margin-bottom: 1.5rem;
}

.residentials>p{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.residentialImg {
    object-fit: cover;
    width: 40rem;
    margin-bottom: 1.5rem;
    display: flex;
}

.residentialBtn {
    margin: 0 1rem;
    padding: 4px;
    background: rgb(202, 201, 194);
    border-radius: 0.5rem;
    opacity: 0.3;
    border: none;
    bottom: 1rem;
}

.residentialImgs {
    position: relative;
    overflow: hidden;
    height: 40rem;
  }
  
  .residentialImgs .img-container {
    display: flex;
    transition: transform 1s ease; 
    
  }

  .explore{
    margin-top: 2rem;
    color: gray;
    font-weight: 400;
    font-size: large;
}

/* .nextBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #df4904;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nextBtn:hover {
    background-color: #ff6600;
  } */

  .buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .navBtn {
    padding: 10px 20px;
    background-color: #df4904;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .navBtn:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  .navBtn:hover:not(:disabled) {
    background-color: #ff6600;
  }
  
  #sign{
    overflow: hidden;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    position: relative;
    background: #3d3d3d;
    padding-bottom: 2rem;
  
  }
  .signtype {
    width: 200%; /* Adjust to your desired width, e.g., 50% for half-width */
    max-width: 900px; /* Set a maximum width */
    height: auto; /* Maintain the aspect ratio */
  }

  .signDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 1rem 2rem;
  }
  